.menu-btn {
    display: block;
    width: min(90%, 300px);
    margin: 15px auto;
    padding: 15px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: clamp(0.6rem, 2vw, 0.8rem);
    letter-spacing: 2px;
    transition: 0.2s ease;
}

.menu-btn:hover {
    background-color: #1f1f1f;
    transform: scale(1.03);
}

.menu-btn:active {
    transform: scale(0.98);
}

.asset-btn {
    display: block;
    width: min(90%, 400px);
    margin: 20px auto;
    padding: 20px 0;
    border: 1px solid #0000000;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: clamp(0.5rem, 2vw, 0.8rem);
    letter-spacing: 2px;
    transition: 0.2s ease;
}

.asset-btn:hover {
    background-color: #1f1f1f;
}
