* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at top, #0c0c0c, #000000 80%);
    color: white;
    font-family: 'Press Start 2P', cursive;

    min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    overflow-x: hidden;
}

.stars {
    position: fixed;
    inset: -50%;
    width: 200%;
    height: 200%;

    background: url("https://www.transparenttextures.com/patterns/stardust.png");

    opacity: 0.6;
    z-index: -1;

    animation: starsMove 200s linear infinite;
}

@keyframes starsMove {
    from { background-position: 0 0; }
    to { background-position: 1000px 1000px; }
}


header {
    min-height: 22vh;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    font-size: clamp(2rem, 9vw, 8rem);
    letter-spacing: clamp(2px, 1vw, 10px);
    text-shadow: 0 0 20px rgba(255,255,255,0.6);
}

.subtitle {
    margin-top: 20px;
    color: #aaa;
    font-size: clamp(0.6rem, 2vw, 0.9rem);
}


.cardtitle {
    width: min(95%, 1400px);
    margin: 40px auto 10px auto;
    padding: 25px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    backdrop-filter: blur(6px);
    text-align: center;
}

.cardtitle h2{
    font-size: clamp(1.8rem,2vw,1.2rem);
    text-shadow: 0 0 20px rgba(255,255,255,0.6);
}


.asset-grid{
    width: fit-content;
    max-width: 95%;

    margin: 20px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 7px;
}


.card {
    width: min(95%, 1400px);
    margin: 15px auto;
    padding: 25px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    backdrop-filter: blur(6px);
    text-align: center;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
}

.card::before {
    top: 0px;
    left: 0px;
}

.card::after {
    top: 0px;
    right: 0px;
}

.card::before {
    bottom: 50px;
    left: 50px;
}

.card::after {
    bottom: 50px;
    right: 50px;
}

.asset-grid .card{
    flex: 0 0 220px;
}


.card a{
    margin-top: auto;
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 40px rgba(186, 186, 186, 0.15);
}

.card p{
    font-size: clamp(0.6rem, 2vw, 0.8rem);
    line-height: 1rem;
    letter-spacing: 2px;
    color: #ccc;
    margin-top: 15px;
}

.card h2{
    margin-bottom: 10px;
    font-size: clamp(0.7rem, 2vw, 1rem);
    letter-spacing: 3px;
    line-height: 1rem;
}


footer {
    text-align: center;
    padding: 70px 20px;
    font-size: clamp(0.5rem, 1.5vw, 0.6rem);
    color: #777;
}


@media (max-width:500px){

    .asset-grid{
        grid-template-columns: repeat(2,1fr);
    }

}

@media (max-width:500px){

    .asset-grid{
        grid-template-columns: 1fr;
    }

}
