* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at top, #0c0c0c, #000000 90%);
    color: white;
    font-family: 'Press Start 2P', cursive;
    overflow-x: hidden;
}

.stars {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("https://www.transparenttextures.com/patterns/stardust.png");
    opacity: 0.6;
    z-index: -1;
    animation: starsMove 200s linear infinite;
}

@keyframes starsMove {
    from { background-position: 0 0; }
    to { background-position: 1000px 1000px; }
}

header {
    min-height: 22vh;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    font-size: clamp(2rem, 9vw, 8rem);
    letter-spacing: clamp(2px, 1vw, 10px);
    text-shadow: 0 0 20px rgba(255,255,255,0.6);
}

.subtitle {
    margin-top: 20px;
    color: #aaa;
    font-size: clamp(0.6rem, 2vw, 0.9rem);
}


.cardtitle {
    width: min(95%, 800px);
    margin: 40px auto 10px auto;
    padding: 20px;
    background: rgba(0,0,0,0.4);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    backdrop-filter: blur(6px);
    text-align: center;
}

.cardtitle h2{
    font-size: clamp(0.9rem,2vw,1.2rem);
}


.asset-grid{
    width: min(95%, 800px);
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}


.card{
    padding: 15px 5px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    backdrop-filter: blur(6px);
    text-align: center;
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 40px rgba(186, 186, 186, 0.15);
}

.card h2{
    font-size: clamp(0.6rem,1.5vw,0.7rem);
    margin-bottom: 20px;
}


footer {
    text-align: center;
    padding: 70px 20px;
    font-size: clamp(0.5rem, 1.5vw, 0.6rem);
    color: #777;
}


@media (max-width:500px){

    .asset-grid{
        grid-template-columns: repeat(2,1fr);
    }

}

@media (max-width:500px){

    .asset-grid{
        grid-template-columns: 1fr;
    }

}
